--swiftversion 5.3
# https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md#andOperator
--enable andOperator,anyObjectProtocol,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,braces,consecutiveBlankLines,consecutiveSpaces,duplicateImports,elseOnSameLine,emptyBraces,enumNamespaces,extensionAccessControl,indent,initCoderUnavailable,isEmpty,leadingDelimiters,linebreaks,organizeDeclarations,redundantBackticks,redundantExtensionACL,redundantFileprivate,redundantGet,redundantInit,redundantLet,redundantLetError,redundantNilInit,redundantObjc,redundantParens,redundantPattern,redundantSelf,semicolons,sortedImports,sortedSwitchCases,spaceAroundBraces,spaceAroundBrackets,spaceAroundComments,spaceAroundGenerics,spaceAroundOperators,spaceInsideBraces,spaceInsideBrackets,spaceInsideGenerics,spaceInsideParens,strongifiedSelf,todos,trailingSpace,typeSugar,unusedArguments,void,wrapArguments,wrapAttributes,wrapEnumCases,wrapSwitchCases,yodaConditions
--disable blankLinesAroundMark,fileHeader,linebreakAtEndOfFile,preferKeyPath,redundantBreak,redundantReturn,redundantType,redundantVoidReturnType,spaceAroundParens,spaceInsideComments,strongOutlets,trailingClosures,wrap,wrapMultilineStatementBraces,modifierOrder,hoistPatternLet,numberFormatting,redundantRawValues,trailingCommas,markTypes
--wrapparameters after-first
--funcattributes prev-line
--typeattributes prev-line
--exclude Pods
